<% provide(:title, "About") %>
<h1>About</h1>
<h3 class="text-center">
  Show and tell for designers<br/>
  <small>
    What are you working on? Glass Prison is a community of designers sharing screenshots of their work, process, and projects.
  </small>
</h3>
