<% provide(:title, 'Contact') %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div id="parature_content">
      <div class="row">
        <div id="knowledge" class="col-md-6">
          <button type="button" class="btn btn-primary">
            FREQUENTLY ANSWERED QUESTIONS
          </button>
          <p class="text-center">
            Have a question? We have answers.
          </p>
        </div>
        <div id="contact" class="col-md-6">
          <button type="button" class="btn btn-primary">
            CONTACT US
          </button>
          <p class="text-center">
            Have a problems? Email our Help team.
          </p>
        </div>
      </div>

    </div>
  </div>
</div>
