<div class="container">
	<div class="col-md-8 col-md-offset-2">
		<% @blogs.each do |blog| %>
			<div class="post_wrapper">
				<h3 class="title"><%= link_to blog.title, blog %></h3>
				<p class="date"><%= blog.created_at.strftime("%B, %d, %Y") %></p>
			</div>
		<% end %>
	</div>
</div>
