<% unless current_user?(@user) %>
  <div id="follow_form" style="width: 20%;">
  <% if current_user.following?(@user) %>
    <%= render 'unfollow' %>
  <% else %>
    <%= render 'follow' %>
  <% end %>
  </div>
<% end %>
