<% provide(:title, 'All users') %>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h3>Find Designers by location, skills, availability, and more</h3>

    <%= will_paginate @users %>

    <ul class="users">
        <%= render @users %>
    </ul>

    <%= will_paginate @users %>
  </div>
</div>
